model {
	retinanet {
		backbone: 'mobilenet_v1'
		num_classes: 1
		anchor_params: {
			size: 32
			size: 64
			size: 128
			size: 256
			size: 512
			stride: 8
			stride: 16
			stride: 32
			stride: 128
			ratio: 0.5
			ratio: 1
			ratio: 2
			scale: 1
			scale: 1.2599210498948732
			scale: 1.5874010519681994
		}
	}
}